* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left1 {

    width: 50%;


}

.right2 {
    margin-top: 20%;
    width: 50%;

}

img {
    width: 600px;
    height: 500px;
    margin-top: 25%;
    margin-left: 190px;
}

h1 {
    width: 700px;
    font-size: 72px;
    line-height: 82px;
    letter-spacing: 0.6;

}

p {
    margin-top: 40px;
    margin-bottom: 75px;
    font-size: 25px;
    width: 593px;
    height: 90px;


}

.link-p {
    color: #6FBF44;
    font-size: 20px;

}

.link-p:hover {
    color: white;
    background-color: #6FBF44;
    padding: 10px 20px;
    border-radius: 10px;

}

header {
    margin: 30px 0 0 40px;

}

a {
    margin-left: 30px;
    color: black;

}

a:hover {
    color: #6FBF44;


}



a:nth-child(5) {
    margin-left: 60px;
    background-color: #6FBF44;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;


}

a:nth-child(5):hover {
    margin-left: 60px;
    background-color: #518d30;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;


}

@media screen and (max-width:1640px) {


    img {
        width: 550px;
        height: 490px;
        margin-top: 25%;
        margin-left: 90px;
    }

    .container {
       
        top: 5%;
        width: 100vw;
        height: 100vh;
        display: flex;

        justify-content: center;
    }

    .left1 {

        max-width: 50%;


    }

    .right2 {
        margin-top: 20%;
        max-width: 50%;

    }

    @media screen and (max-width:1260px) {

        header a {
            display: none;
        }

        header a:nth-child(5) {
            display: inline-block;
            position: absolute;
            right: 60px;
            top: 50px;
        }



        .container {
            width: 100vw;
            height: 100vh;

            justify-content: center;


        }

        img {
            position: relative;
            width: 420px;
            height: 430px;
            margin-top: 85%;
            margin-left: 90px;
        }

        .left1 {

            height: 50%;
            display: inline-block;


        }

        .right2 {
            position: absolute;
            height: 50%;
            left: auto;
            margin-top: 10%;

            text-align: center;
            justify-content: center;

        }

        h1 {

            width: 100%;
            font-size: 52px;
            line-height: 82px;
            letter-spacing: 0.6;

        }

        p {
            margin-bottom: 75px;
            font-size: 25px;
            width: 593px;
            height: 90px;
            margin: 0;


        }

        .link-p {
            position: relative;
            top: 50px;
        }


    }

    @media screen and (max-width:910px) {

        header a {
            display: none;
        }

        header a:nth-child(5) {
            display: inline-block;
            position: absolute;
            right: 10px;
           top: 10px;
        }



        .container {
            margin: 0;
            padding: 0;

            width: 100vw;
            height: 100vh;
            position: absolute;
            align-items: center;
            justify-content: center;


        }

        img {
            position: absolute;
            width: 370px;
            height: 370px;
            top: 55%;
            left: 10px;
            margin: 0;


        }

        .left1 {

            height: 50%;
            display: inline-block;


        }

        .right2 {
            position: absolute;
            width: 100vh;
            height: 50%;

            top: 40px;
            left: 10px;

            text-align: center;
            align-items: center;
            justify-content: center;

        }

        h1 {

            width: 400px;
            font-size: 42px;
            line-height: 82px;
            letter-spacing: 0.6;

        }

        p {
            position: relative;
            left: 70px;
            font-size: 15px;
            width: 80vw;
            height: 100px;


        }

        .link-p {
          
            position: relative;
            top: 10px;
            left: 120px;
            margin: 0;

        }


    }





}